/SistemaPresentacionCineLerma/target/
/SistemaNegocioCineLerma/target/
/SistemaGestionReservaBoletos/target/
/SistemaTransferenciaCineLerma/target/
/SistemaPersistenciaCineLerma/target/
/SistemaGestionSalasAsientos/target/
/SistemaGestionUsuarios/target/
/SistemaPersistenciaCineLerma/nbproject/
